header {
    height: 90px;
    width: 375px;
    background: url(https://i.pinimg.com/originals/bc/b9/f4/bcb9f4e0f0a2a50d640b62c8c7b12388.jpg);
    display:flex;
    overflow-x: hidden;
    border-radius: 0 0 4em 1em;
    overflow-y: hidden;
}

ul{
    display:flex;
    margin-top:0;
    font-family: yellowtail, Courier, monospace;
    font-size: 23px;
    background-color: rgba(70, 64, 12, 0.719);
    height: 90px;
    width: 375px;
    border-radius: 0 0 2em 0 ;
    border-bottom: 2px solid gold;
    border-top: 5px solid brown;
}

li{
    color: gold;
    text-shadow:
      0.05em 0.05em black,
      0.09em 0.09em brown,
      0.15em 0.15em black;
    margin-top:12px;
    padding-top:10px;
    list-style-type: none;
    margin-right:1em;
    font-weight: 700;
}

li:hover{
    color: goldenrod;
}

li:last-child{
    color: rgb(255, 0, 0);
    text-shadow:
      0.05em 0.05em rgb(131, 29, 29),
      0.09em 0.09em rgb(105, 5, 5),
      0.15em 0.15em black;
}

li:last-child:hover{
    color: goldenrod;
}

header img{
    filter: sepia(70%);
    filter: brightness(150%);
    box-shadow: inset 5px 5px rgba(124, 89, 1, 0.747);
}

a{
    text-decoration:none ;
}