

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: 100%;
}

main{
    margin-top: 90px;
}

.index2_main {
    margin: auto;
    max-width: max-content;
}

section{
    max-width: max-content;
    height: auto;
    margin-bottom: 4rem;
}

.news{
    width: 100%;
    background-color: rgba(219, 140, 21, 0.377);
    height: 35px;
    border-bottom: .3em solid goldenrod;
}

@media only screen and (min-width: 500px) {
    .news {
        transform: translateY(-90px);
    }
}

.section-1{
    margin-top: 3rem;
    background-color: rgb(77, 11, 11);
    padding: 0 20px;
    box-shadow: 0.05em 0.05em goldenrod,
    0.10em 0.10em red;
    padding: 10px 10px 10px 10%;
}

.theRock {
    margin-top: 5vh;
    max-width: 300px;
    border: 2vw solid rgba(255, 217, 0, 0.904);
    border-radius: 0 3rem 2rem;
    filter: brightness(70%);
    filter: contrast(120%);
    box-shadow:  0 20px rgba(255, 20, 0, 0.504), 60px 40px rgb(163, 23, 63, 0.5);
}

.btns{
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-top: 1vh solid goldenrod;
    border-bottom: 1vh solid gold;
    background-color: rgba(143, 117, 31, 0.527)
}

.btns button{
    display: flex;
    color: white;
    background-color: brown;
    margin: 0 0 2rem 0;
    padding: 0.5em 1em;
    border-right: 5px solid yellow;
}

.phonelogos{
    max-width: 50px;
}

.section-1 img{
    width: 335px;

    box-shadow:
     0 .2em red,
     .2em 0 gold,
     0 .5em rgba(163, 3, 3, 0.616);
    border-radius: 1rem;
}

.section-2 {
    background-color: rgb(77, 11, 11);
        margin-left: auto;
        margin-top: 2rem;
        border-right: 0.05em solid brown;
        border-bottom: solid 0.10em goldenrod;
        padding:10px;
        padding-right: 6%;
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;
}

.section-2 div img{
    width: 100px;
    margin-top: 4rem;
}


.section-2 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px dashed #000;
    max-width: 500px;
}